/* Login.css */
 

.login-page {
  display: flex;
  align-items: center;
}

.animation-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 400px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 40px;
  padding-left: 20;
  padding-right: 20;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Keep the login container color unchanged */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  text-align: start; /* Align label text to the start */
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container p {
  margin-top: 10px;
  text-align: start; /* Align paragraph text to the start */
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}

/* Avatar CSS */
.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it circular */
}
